
@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
$font: "Noto Sans TC",sans-serif ;

$family-sans-serif:$font;

$primary:#324376;
$success:#586BA4;
$link:#52D1DC;
$danger:#F64740;
$warning:#F7B801;
$body-background-color:#FFFBFC;

@import "../node_modules/bulma/bulma.sass";

//https://coolors.co/586ba4-324376-52d1dc-f7b801-f64740-f3e8ee